<div class="4u 12u$(medium)">

	<!-- Sidebar -->



<section id="sidebar">
	<section>
		<h3>Каталог фильмов</h3>
		<p>Это авторский сайт пет-проекта, в нем содержится каталог фильмов,также есть авторизация,аутентификация.Можно просмотреть каталог фильмов, добавить свой,редактировать его</p>
		<footer>
			<ul class="actions">
				<li><a href="#" class="button">Узнать больше</a></li>
			</ul>
		</footer>
	</section>
	<hr />
	
</section>
</div>